{
  "extends": [
    "@terrestris/eslint-config-typescript",
    "plugin:react-hooks/recommended"
  ],
    "plugins": ["simple-import-sort", "react-hooks"],
    "rules": {
    "@typescript-eslint/member-ordering": "off",
      "no-underscore-dangle": "off",
      "simple-import-sort/exports": "warn",
      "simple-import-sort/imports": "warn"
  }
}
